* {
    background-color: #f0dcfd;
    color:#73359c;
}

header {
    border: 3vw, groove, #bb88de; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
    text-align: center;
    color: #73359c;
    background-color: whitesmoke;
}

h1 {
    background-color: whitesmoke;
}

nav {
    height: 1.2vw;
    width: 1.0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1vw;
}